---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div>
			<h1>Hello, World</h1>
			<p>ujex256のサイトの建設予定地</p>
		</div>
		<div class="sougolink">
			<h2>相互リンク</h2>
			<h2>Nishi</h2>
			<a href="https://nishi.boats/">https://nishi.boats/</a>
			<h2>akku's website</h2>
			<a href="https://akku1139.github.io/">https://akku1139.github.io/</a>
		</div>
	</main>
</Layout>

<style>
	main {
		width: 65vw;
		margin: auto;
	}
</style>
